/* MEDIA QUERIES DESKTOP */

@media all and (min-width: 481px) {
    
    body {
        font-size: 16px;
    }

    /* HEADER */

    header {
        margin: 0 45px 35px 45px; 
    }

    .header__logo {
        flex-grow: 1;
        padding-top: 26px;
    }

    .header__list {
        margin: 0;
    }

    .header__item {
        padding-top: 40px;
        border-top: 2px solid transparent;
    }

    .header__link {
        padding: 0 36px;
    }

    .header__item:hover, .is--active {
        border-top: 2px solid #0065FC;
    }

    .header__signup {
        padding-top: 40px;
        border-top: 2px solid transparent;
    }

    /* SECTION SEARCH/FILTERS */

    .section__search {
        margin: 0 45px;
    }

    .section__search h1 {
        font-size: 22px;
    }

    .searchbar__form {
        margin-top: 20px;
    }

    .searchbar__form .fa-map-marker-alt {
        padding: 16px 18px;
    }

    .searchbar__input {
        padding: 13px 79px 14px 16px;
        font-size: 16px;
    }

    .searchbar__button {
        margin-left: -1px;
        padding: 13px 17px;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: 600; 
        border: 1px solid #0065FC; 
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    .searchbar__button .fa-search {
        display: none;
    } 

    .section__filters {
        display: flex;
        align-items: center;
        font-size: 16px;
        margin-top: 24px;
    }

    .filters__title {
        margin-right: 10px;
        font-size: 18px;
    }

    .filter__box {
        margin: 6px 0 6px 24px;
    }
    
    .filter__box i {
        height: 50px;
        width: 50px;
        font-size: 20px;
    }

    .filter__box span {
        padding: 0 20px 0 12px;
    }

    .section__info {
        margin-top: 25px;
    }

    /* SECTION ACCOMODATION */

    .section__accomodation {
        margin: 40px 45px;
        display: flex;
    }

    .cardslist__header h2 {
        font-size: 22px;
        margin: 0;
        padding: 18px 0 16px 0;
    }

    .accomodation__list {
        padding: 22px 40px;
        background-color: #F2F2F2;
        border-radius: 20px;
    }

    .accomodation__asidelist {
        order: 1;
        margin-left: 40px;
        padding-bottom: 34px;
    }

    .asidelist__header i {
        font-size: 24px;
    }

    .accomodation__cards {
        margin-top: 10px;
    }

    .accomodation__card {
        height: 100%; 
    } 

    .asidelist__cards {
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    .asidelist__card {
        height: 135px; 
    }

    .asidelist__image img {
        width: 120px;
    }

    .accomodation__info h3 {
        font-size: 16px;
    }

    .accomodation__info p {
        font-size: 14px;
    }

    .accomodation__stars {
        font-size: 11px;
    } 

    .accomodation__mainlist {
        width: 70%;
    }

    .mainlist__cards {
        margin-bottom: 38px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
    }

    .mainlist__image img {
        height: 120px;
    }

    .mainlist__loadmore {
        font-size: 18px;
    }

    /* SECTION ACTIVITIES */

    .section__activities {
        margin: 40px 45px 58px 45px;
    }

    .activities__cards {
       margin-top: 8px; 
    }

    /* FOOTER */

    footer {
        padding: 20px 0;
        flex-direction: row;
    }

    .footer__section {
        margin-left: 50px;
        width: 28%;
    }

    .footer__section h3 {
        margin-top: 20px;
    }

    .footer__link {
        font-size: 0.9rem;
    }
}

@media(max-width: 1280px) {

    /* SECTION ACCOMODATION */

    .mainlist__cards {
        grid-template-columns: 1fr 1fr;
    }
}

/* MEDIA QUERIES TABLET */

@media(max-width: 992px) {

    /* SECTION SEARCH/FILTERS */

    .section__searchbar {
        margin-top: 32px;
    }

    /* SECTION ACCOMODATION */

    .section__accomodation {
        flex-wrap: wrap-reverse;
    }

    .accomodation__list {
        width: 100%;
    }
    .accomodation__asidelist {
        margin-left: 0;
    }

    .accomodation__mainlist {
        background-color: white;
    }

    .mainlist__cards {
        grid-template-columns: 1fr 1fr;
    }

    /* SECTION ACTIVITIES */

    .activities__info {
        padding: 0 16px;
        font-size: 15px;
    }
}

@media(max-width: 768px) {

    /* HEADER */

    .header__link {
        padding: 0 0 0 15px;
    }

    /* SECTION ACCOMODATION */

    .mainlist__cards {
        grid-template-columns: 1fr;
    }

    /* FOOTER */

    footer {
        flex-direction: column;
    }

    .footer__section {
        margin-left: 25px;
        width: auto;
    }
}

@media(max-width: 700px) {

    /* SECTION ACTIVITIES */

    .section__activities {
        margin-top: -35px;
    }

    .activities__header {
        padding-left: 40px;
    }

    .activities__cards {
        width: auto;
        padding: 40px;
        flex-direction: column;
        margin-top: -25px;
        margin-bottom: -60px;
    }

    .activities__wrapper {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .activities__top {
        margin: 0 0 20px 0;
    }

    .activities__image {
        height: 150px;
    }

    .activities__image-medium {
        display: none;
    }

    .activities__image-small {
        display: block;
    }
}

/* MEDIA QUERIES MOBILE */

@media all and (max-width: 480px)
{
    body {
        font-size: 14px;
    }

    /* HEADER */

    header {
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .header__logo {
        margin: 20px 0 0 18px; 
    }

    .header__logo img {
        width: 80px; 
        height: auto;
    }

    .header__navbar {
        order: 3;
        margin-top: 5px;
        width: 100%; 
    }

    .header__item {
        width: 50%;
        text-align: center;
        padding-bottom: 12px;
        border-bottom: 2px solid #F2F2F2;
    }

    .header__item:hover, .is--active {
        border-bottom: 2px solid #0065FC;
        padding-bottom: 12px;
    }

    .header__signup {
        margin: 20px 18px 0 0; 
    }

    /* SECTION SEARCH/FILTERS */

    .section__search {
        margin: 0 15px;
    }

    .section__search h1 {
        font-size: 19px;
    }

    .section__searchbar {
        margin-top: 32px;
    }

    .searchbar__form .fa-map-marker-alt {
        padding: 14px 14px;
    }

    .searchbar__input {
        padding-left: 14px;
        font-size: 14px;
        flex-grow: 1;
        overflow: hidden;
    }

    .searchbar__button {
        margin-left: -10px;
        padding: 13px 14px;
        border-radius: 12px;
        border: none;
    }

    .searchbar__text {
        display: none;
    } 

    .section__filters {
        margin-top: 30px;
    }

    .filters__title {
        margin-bottom: 14px;
        font-size: 16px;
    }

    .filter__box {
        margin-right: 10px;
        margin-bottom: 12px;
    }

    .filter__box i {
        height: 40px;
        width: 40px;
        font-size: 14px;
    }

    .filter__box span {
        padding: 0 12px 0 10px; 
    }

    .section__info {
        margin-top: 18px;
    }

    /* SECTION ACCOMODATION */

    .accomodation__list {
        box-sizing: border-box;
    }

    .accomodation__asidelist {
        margin-top: 30px;
        padding: 20px 16px; 
    }

    .cardslist__header h2 {
        font-size: 19px;
    }

    .asidelist__header {
        margin-bottom: 10px;
    }

    .asidelist__header i {
        font-size: 20px;
    }

    .accomodation__cards {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .asidelist__cards {
        margin-bottom: 12px;
    }

    .asidelist__card {
        height: 118px;
    }

    .asidelist__image img {
        width: 108px;
    }

    .accomodation__info h3 {
        font-size: 14px;
    }

    .accomodation__info p {
        font-size: 12px;
    }

    .accomodation__stars {
        font-size: 10px;
    }

    .cards__list {
        margin-top: 30px;
        padding: 0 16px; 
    }

    .mainlist__cards {
        margin-bottom: 26px;
    }

    .mainlist__card {
        height: 170px; 
    }

    .mainlist__image img {
        height: 100px;
    }

    .mainlist__loadmore {
        font-size: 16px;
        margin-bottom: 48px;
    }

    /* SECTION ACTIVITIES */

    .activities__header {
        padding-left: 0;
    }

    .activities__cards {
        margin-top: 25px;
        margin-bottom: 20px;
        padding: 0;
    }

    .activities__image {
        height: 115px;
    }

    .activities__info {
        font-size: 14px;
    }

    /* FOOTER */

    footer {
        padding: 24px 0 15px 0;
    }

    .footer__section h3 {
        font-size: 0.9rem;
        margin-top: 12px;
    }

    .footer__link {
        font-size: 0.8rem;
    }
}

@media(max-width: 284px) {

    /* SECTION ACCOMODATION */

    .asidelist__image img {
        width: 80px;
    }

    .asidelist__info {
        padding: 10px 10px 7px 14px;
    }

    .accomodation__info h3 {
        font-size: 13px;
    }

    .accomodation__info p {
        font-size: 11px;
    }

    .accomodation__stars {
        font-size: 8px;
    }

    /* SECTION ACTIVITIES  */

    .activities__info {
        font-size: 13px; 
    }
}

