/* MEDIA QUERY MOBILE */

@media all and (max-width: 480px)
{
    body {
        font-size: 14px;
    }

    /* HEADER */

    header {
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .header__logo img {
        width: 80px; 
        height: auto;
    }

    .header--margin {
        margin: 20px 18px 0 18px; 
    }

    .header__navbar {
        order: 3;
        margin-top: 5px;
        width: 100%; 
    }

    .header__item {
        width: 50%;
        text-align: center;
        padding-bottom: 12px;
        border-bottom: 2px solid #F2F2F2;
    }

    .header__item:hover, .is--active {
        border-bottom: 2px solid #0065FC;
        padding-bottom: 12px;
    }

    /* SECTION SEARCH/FILTERS */

    .section__search {
        margin: 0 15px;
    }

    .section__search h1 {
        font-size: 19px;
        margin-bottom: -2px;
    }

    .section__searchbar {
        margin-top: 32px;
    }

    .searchbar__form .fa-map-marker-alt {
        padding: 14px 18px;
    }

    .searchbar__input {
        /* width: 50%; */
        padding: 12px 50px 12px 12px;
        font-size: 14px;
    }

    .searchbar__button {
        left: 242px;
        padding: 13px 14px;
        border-radius: 12px;
        border: none;
    }

    .searchbar__text {
        display: none;
    } 

    .section__filters {
        margin-top: 30px;
    }

    .filters__title {
        margin-bottom: 14px;
        font-size: 16px;
    }

    .filter__box {
        margin-right: 10px;
        margin-bottom: 12px;
    }

    .filter__box i {
        height: 40px;
        width: 40px;
        font-size: 14px;
    }

    .filter__box span {
        padding: 0 12px 0 10px; 
    }

    .section__info {
        margin-top: 18px;
    }

    /* SECTION ACCOMODATION */

    .accomodation__list {
        box-sizing: border-box;
    }

    .accomodation__asidelist {
        margin-top: 30px;
        padding: 20px 16px; 
    }

    .cardslist__header h2 {
        font-size: 19px;
    }

    .asidelist__header {
        margin-bottom: 10px;
    }

    .asidelist__header i {
        font-size: 20px;
    }

    .homepage__cards {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .asidelist__cards {
        margin-bottom: 12px;
    }

    .asidelist__card {
        height: 118px;
    }

    .asidelist__image img {
        width: 108px;
    }

    .homepagecard__info h3 {
        font-size: 14px;
    }

    .accomodation__info p {
        font-size: 12px;
    }

    .accomodation__stars {
        font-size: 10px;
    }

    .cards__list {
        margin-top: 30px;
        padding: 0 16px; 
    }

    .mainlist__cards {
        margin-bottom: 26px;
    }

    .column__card {
        height: 170px; 
    }

    .mainlist__image img {
        height: 100px;
    }

    .mainlist__loadmore {
        font-size: 16px;
        margin-bottom: 48px;
    }

    /* SECTION ACTIVITIES */

    .activities__cards {
        grid-gap: 20px;
        margin: 25px 0 45px 0;
        /* grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr); */
    }

    .activities__image img {
        height: 118px;
    }
}

/* MEDIA QUERY DESKTOP */

@media all and (min-width: 481px)
{
    body {
        font-size: 16px;
    }

    /* HEADER */

    header {
        margin: 0 45px 35px 45px; 
    }

    .header__logo {
        flex-grow: 1;
        padding-top: 26px;
    }

    .header__list {
        margin: 0;
    }

    .header__item {
        padding-top: 40px;
        border-top: 2px solid transparent;
    }

    .header__link {
        padding: 0 36px;
    }

    .header__item:hover, .is--active {
        border-top: 2px solid #0065FC;
    }

    .header__signup {
        padding-top: 40px;
        border-top: 2px solid transparent;
    }

    /* SECTION SEARCH/FILTERS */

    .section__search {
        margin: 0 45px;
    }

    .section__search h1 {
        font-size: 22px;
        margin-bottom: -10px;
    }

    .searchbar__form .fa-map-marker-alt {
        padding: 16px 18px;
    }

    .searchbar__input {
        padding: 13px 79px 14px 16px;
        font-size: 16px;
    }

    .searchbar__button {
        left: 283px;
        padding: 13px 17px;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: 600; 
        border: 1px solid #0065FC; 
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    .searchbar__button .fa-search {
        display: none;
    } 

    .section__filters {
        display: flex;
        align-items: center;
        font-size: 16px;
        margin-top: 24px;
    }

    .filters__title {
        margin-right: 10px;
        font-size: 18px;
    }

    .filter__box {
        margin: 6px 0 6px 24px;
    }
    
    .filter__box i {
        height: 50px;
        width: 50px;
        font-size: 20px;
    }

    .filter__box span {
        padding: 0 20px 0 12px;
    }

    .section__info {
        margin-top: 25px;
    }

    /* SECTION ACCOMODATION */

    .section__homepage {
        margin: 40px 45px;
    }

    .section__accomodation {
        display: flex;
    }

    .cardslist__header h2 {
        font-size: 22px;
        margin: 0;
        padding: 18px 0 16px 0;
    }

    .accomodation__list {
        padding: 22px 40px;
        background-color: #F2F2F2;
        border-radius: 20px;
    }

    .accomodation__asidelist {
        order: 1;
        margin-left: 40px;
        padding-bottom: 34px;
        /* height: 100%; */
        width: 30%;
    }

    .asidelist__header i {
        font-size: 24px;
    }

    .homepage__cards {
        margin-top: 10px;
    }

    .homepage__card {
        height: 100%; 
    } 

    .asidelist__cards {
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    .asidelist__card {
        height: 135px; 
        /* width: 100%; */
    }

    .asidelist__image img {
        width: 120px;
    }

    .homepagecard__info h3 {
        font-size: 16px;
    }

    .accomodation__info p {
        font-size: 14px;
    }

    .accomodation__stars {
        font-size: 11px;
    } 

    .accomodation__mainlist {
        width: 70%;
    }

    .mainlist__cards {
        margin-bottom: 38px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
    }

    .mainlist__card {
        /* width: 250px;
        height: 198px;  */
    }

    .mainlist__image img {
        height: 120px;
    }

    .mainlist__loadmore {
        font-size: 18px;
    }

    /* SECTION ACTIVITIES */

    .activities__cards {
        grid-gap: 35px;
        grid-template-columns: repeat(4, 1fr);
        /* grid-template-rows: */
    }

    .activities__card1 {
        grid-column: 1/2;
        grid-row: 1/5;
    }

    .activities__card2 {
        grid-column: 2/3;
        grid-row: 1/4;
    }

    .activities__card3 {
        grid-column: 2/3;
        grid-row: 4/5;
    }

    .activities__card4 {
        grid-column: 3/4;
        grid-row: 1/5;
    }

    .activities__card5 {
        grid-column: 4/5;
        grid-row: 1/2;
    }

    .activities__card6 {
        grid-column: 4/5;
        grid-row: 2/5;
    }

    .activities__image, .activities__image img {
        height: 100%;
    }

    /* FOOTER */

    footer {
        flex-direction: row;
    }

    .footer__section {
        margin-left: 50px;
        width: 28%;
    }

}

@media(max-width: 1280px) {

    /* SECTION ACCOMODATION */

    .mainlist__cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 992px) {

    /* SECTION ACCOMODATION */

    .section__accomodation {
        flex-wrap: wrap-reverse;
    }

    .accomodation__list {
        width: 100%;
    }
    .accomodation__asidelist {
        margin-left: 0;
    }

    .accomodation__mainlist {
        background-color: white;
    }

    .mainlist__cards {
        grid-template-columns: 1fr 1fr;
    }

    /* SECTION ACTIVITIES */

    .activities__cards {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .activities__card {
        grid-column: auto;
        grid-row: auto;
    }
}
  
@media(max-width: 768px) {

    /* HEADER */

    .header__link {
        padding: 0 0 0 15px;
    }

    /* SECTION ACCOMODATION */

    .mainlist__cards {
        grid-template-columns: 1fr;
    }

    /* SECTION ACTIVITIES */

    .activities__cards {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    /* FOOTER */

    footer {
        flex-direction: column;
    }

    .footer__section {
        margin-left: 25px;
        width: auto;
    }
}