body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

/* HEADER  */

header {
    display: flex;
}

.header__list {
    display: flex;
    list-style: none;
    padding: 0;
}

.header__link {
    color: black;
    text-decoration: none;
}

.navbar__link:hover, .is--active {
    color: #0065FC;
}

.is--active > a {
    color: #0065FC;
}

.signup__link {
    font-weight: 600;
    color: #0065FC;
}

.signup__link:hover {
    opacity: 0.7;
    transition: 0.3s ease;
}

/* SECTION SEARCH/FILTERS */

.searchbar__form {
    display: flex;
}

.searchbar__form .fa-map-marker-alt {
    background-color: #F2F2F2;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.searchbar__input {
    margin-left: -2px;
    border: 1px solid #F2F2F2;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.searchbar__button {
    color: white;
    background-color: #0065FC;
}

.filters__title {
    font-weight: bold;
}

.filters__options {
    display: flex;
    flex-wrap: wrap;
}

.filter__box {
    display: flex;
    align-items: center;
    border: 2px solid #e3e3e3;
    border-radius: 30px;
    width: fit-content;
}

.filter__box:hover {
    transform: scale(1.1); 
    transition: 0.3s ease;
    background-color: #DEEBFF;
    border-color: #DEEBFF;

}

.filter__box i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 100%;
    margin: -2px 0 -2px -2px;
}

.filter__box span {
   font-weight: bold;
}

.section__info {
    display: flex;
}

.section__info .fa-info {
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: #0065FC;
    border: 1px solid #e3e3e3;
    border-radius: 100%;
}

.section__info span {
    padding-left: 10px;
}

/* SECTION ACCOMODATION */

.accomodation__asidelist {
    background-color: #F2F2F2;
}

.asidelist__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accomodation__cards {
    display: grid;
}

.homepage__card {
    text-decoration: none;
    color: black;
    display: flex; 
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 20px;
}

.homepage__card:hover {
    filter: brightness(90%);
    transform: scale(1.02); 
    transition: 0.3s ease;
}

.asidelist__card {
    padding: 5px 5px;
}

.asidelist__image img {
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.homepagecard__info h3 {
    margin: 0;
}

.accomodation__info {
    display: flex;
    flex-direction: column;
}

.accomodation__info p {
    margin: 0;
}

.asidelist__info {
    padding: 10px 18px 7px 18px;
    justify-content: space-between;
}

.asidelist__info p {
    padding-top: 8px;
}

.fa-star {
    margin-right: -2px;
}

.star--filled {
    color: #0065FC;
}

.star--empty {
    color: #d9d9d9;
}

.column__card {
    flex-direction: column;
}

.mainlist__card {
    padding: 5px 5px 0 5px;
}

.columncard__image img {
    width: 100%;
    object-fit: cover; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.mainlist__info {
    padding: 6px 12px 9px 12px;
    flex-grow: 1;
}

.mainlist__info p {
    padding: 5px 0 6px 0;
    flex-grow: 1;
}

.mainlist__loadmore {
    font-weight: 700; 
}

/* SECTION ACTIVITIES */

.activities__cards {
    /* height: 240px; */
    display: flex;
    justify-content: space-between;
}

.activities__doublecard {
    display: flex;
    width: 23%;
}

.activities__card1, .activities__card4 {
    width: 23%;
}

.activities__info {
    padding: 14px 16px;
}

/* FOOTER */

footer {
    background-color: #F2F2F2;
    display: flex;
}

.footer__section h3 {
    margin-bottom: -3px;
}

.footer__list {
    list-style: none;
    padding: 0;
}

.footer__link {
    color: black;
    text-decoration: none;
    line-height: 1.9;
}

.footer__link:hover {
    opacity: 0.6;
    transition: 0.3s ease;
}